td.PennController-Scale-scaleButton {
    padding:15 30 15 30;
    color:blue;
    margin: 10px auto;
}

td.PennController-Text {
    padding:15 30 15 30;
    color:blue;
    margin: 10px auto;
}

td.PennController-Button {
    padding: 20px 20px 20px 20px;
    margin: 5em 5em 5em 5em;
    border-width: 10px
}
